@import 'helpers';
@import 'variables';
@import 'components';

// APP

.get-in {

  background-color:  $theme-color-9;
  p {
    color: $theme-color-3;
  }

  .text-get {
    text-align: left;
    position: relative;
    @include media-breakpoint-down(md) {

      top: 2%;
      left: 40%;
      width: 50%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
      // margin-top: -5%;
      top: 100px;
      left: 40%;
    }

    p {
      font-size: 2.2em;
    }
  }

  .text-touch {
    border: 2px solid $theme-color-1;
    border-radius: 30px;
    color: $theme-color-1;
    padding: 0 1.5%;
    font-size: 0.9em;
    @include media-breakpoint-down(md) {
      border-radius: 32px;
      padding: 1.5% 7%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
  }

  .elemento {
    position: relative;

      @include media-breakpoint-down(md) {
        top: -30%;
        right: 60%;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {
        top: 190px;
        right: 20%;
      }

    img {
      @include media-breakpoint-down(md) {
        width: 60%;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {}
    }

  }

  .sun {
    img {
      position: relative;
      @include media-breakpoint-down(md) {
        top: 60px;
        right: 20%;
        width: 18%;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {
        top: 160px;
        right: 18%;}

    }
  }
}



// Aqui inicia o Form

.card {
  border: none;
  background-color: #FFFFFF;

  label {
    font-family: SpaceMono-Regular;
  }

}

form {
  margin-top: 8%;
  margin-bottom: 8%;

  @include media-breakpoint-down(md) {
    padding: 0 5%;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}

  select {
    font-family: SpaceMono-Regular;

  }

  &::placeholder {
    font-family: SpaceMono-Regular;


  }
}

.icons {
  width: 18%;
}

.icons2 {
  width: 22%;
}

.form-control {
  height: 25px;
  border: none;
  border-block-end: 1px solid black;
  // border-top-color: #FFFFFF;
  // border-left-color: #FFFFFF;
  // border-right-color: #FFFFFF;
  // outline: 0;
  // border: 0 0 0 20px;
  // border-bottom-color:black !important;
}

.form-group {
  font-family: SpaceMono;
  font-size: 12px;
  text-transform: uppercase;
}


#exampleFormControlSelect1 {
  height: 33px;
}

#mensagem {
  text-align: left;
  overflow: hidden;
}

.btn {
  font-family: NHaasGroteskTXPro-75Bd;
  color: #FFFFFF;
  font-size: 15px;
  width: 100%;
  height: 51px;
  text-transform: uppercase;
  background-color: #354E8F;
  border-radius: 28px;
}

.circulo {
    border: 4px solid $theme-color-11;
    border-bottom: none;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    transform: rotate(-90deg);
    @include media-breakpoint-down(md) {
    right: -37px;
    top: 50px;
    width: 150px;
    height: 75px;
    border-radius: 150px 150px 0px 0px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
    right: -62px;
    top: 140px;
    width: 250px;
    height: 125px;
    border-radius: 150px 150px 0px 0px;
    }
  }

