<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-default cover-coworking" style="background-image:
      url('./assets/backgrounds/bg-coworking.png');">
            <div class="infos">
                <h1 class="title v5">Coworking</h1>
                <p>
                    Localizado na Av. Bernardino de Campos, 185 - Paraíso, em um prédio
                    icônico e próximo a uma das principais avenidas de São Paulo, o VOLT
                    Coworking oferece um ambiente inovador, próximo a uma das principais
                    avenidas da cidade de São Paulo. Com uma arquitetura tradicional e
                    interior moderno, trazemos para os nossos parceiros toda a estrutura
                    necessária para construir um ecossistema eficiente para o seu negócio.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-12 order-lg-first">
            <div class="espaco">
                <h2 class="title">Espaço e Facilities</h2>
                <div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/area.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Área Comum com arquibancada, espaço para
                                eventos com projetor, televisão, microondas,
                                geladeira e feirinha para consumo
                            </p>
                        </div>
                    </div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/estacionamento.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Estacionamento com convênio
                                ao prédio (sob demanda)
                            </p>
                        </div>
                    </div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/sala.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Sala de Reunião para 12 pessoas com
                                televisão, projetor, mesa, cadeira e lousa
                            </p>
                        </div>
                    </div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/cafe.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Café, chá e água a vontade
                            </p>
                        </div>
                    </div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img class="img-end" src="./assets/icons/endereco.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Endereço comercial e fiscal para membros
                            </p>
                        </div>
                    </div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/ar.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Ar condicionado em todas as salas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 bg-default order-first" style="background-image:
      url('./assets/backgrounds/bg-espaco.png');">
            <img class="mobile img-espaco" src="./assets/backgrounds/bg-espaco-mobile.png" alt="">
        </div>
    </div>
</div>


<div class="container-fluid estrutura">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-12 text-center" style="background-color:#EDE9E7;">
            <div class="photo desktop">
                <img src="./assets/photos/estrutura-volt.png" alt="">
            </div>
            <div class="photo mobile">
                <img class="img-ev" src="./assets/photos/comuidade-volt.png" alt="">
            </div>
        </div>
        <div class="col-lg-6 offset-lg-2 col-md-12">
            <div class="espaco">
                <h2 class="title">Estrutura Técnica</h2>
                <div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/internet.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Internet de Fibra ótica 300MB, com redundância
                                para um link dedicado de 20MB
                            </p>
                        </div>
                    </div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/wifi.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Rede Wi-Fi e Cabeada
                            </p>
                        </div>
                    </div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/impressora.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Impressora multifuncional P&B e Color,
                                A3 (sob demanda)
                            </p>
                        </div>
                    </div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/alarme.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Sistema CFTV com câmeras e alarmes
                            </p>
                        </div>
                    </div>
                    <div class="row card-espaco">
                        <div class="col-lg-2">
                            <img src="./assets/icons/biometria.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Entrada ao espaço com biometria
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid card-serv">
  <div class="row">
    <div class="col-lg-7 col-md-12 order-lg-first servico">
      <div class="espaco v1">
        <h2 class="title">Serviços</h2>
        <div>
          <div class="row servicos vo">
            <div id="servicosToggle">
              Posições de Coworking<label for="toggle-1"> + </label>
              <input type="checkbox" id="toggle-1">
                <div id="mostra">
                  <p>
                    Para profissionais autônomos, pequenas empresas e times enxutos, oferecemos posições de trabalho compartilhadas, que dão acesso ao ecossistema VOLT, contemplando serviços completos para seu dia a dia.
                  </p>
                  <p>
                    Aqui você pode optar por uma mesa só sua,
                    posições rotativas ou até o Work Day.
                  </p>
                  <p class="preco">R$0000,00</p>
                  <a href="javascript:void(0)" routerLinkActive='active'
                    routerLink='/nos' class="btn-volt mt-5">
                    Tenho interesse
                  </a>
                </div>
            </div>
          </div>
          <div class="row servicos">
            <div id="servicosToggle">
              Salas Privativas<label for="toggle-2">  + </label>
              <input type="checkbox" id="toggle-2">
                <div id="mostra">
                  <p>
                    Para profissionais autônomos, pequenas empresas e times enxutos, oferecemos posições de trabalho compartilhadas, que dão acesso ao ecossistema VOLT, contemplando serviços completos para seu dia a dia.
                  </p>
                  <p>
                    Aqui você pode optar por uma mesa só sua,
                    posições rotativas ou até o Work Day.
                  </p>
                  <p class="preco">R$0000,00</p>
                  <a href="javascript:void(0)" routerLinkActive='active'
                    routerLink='/nos' class="btn-volt mt-5">
                    Tenho interesse
                  </a>
                </div>
            </div>
          </div>
          <div class="row servicos">
            <div id="servicosToggle">
              Salas de Reunião<label for="toggle-3">  + </label>
              <input type="checkbox" id="toggle-3">
                <div id="mostra">
                  <p>
                    Para profissionais autônomos, pequenas empresas e times enxutos, oferecemos posições de trabalho compartilhadas, que dão acesso ao ecossistema VOLT, contemplando serviços completos para seu dia a dia.
                  </p>
                  <p>
                    Aqui você pode optar por uma mesa só sua,
                    posições rotativas ou até o Work Day.
                  </p>
                  <p class="preco">R$0000,00</p>
                  <a href="javascript:void(0)" routerLinkActive='active'
                    routerLink='/nos' class="btn-volt mt-5">
                    Tenho interesse
                  </a>
                </div>
            </div>
          </div>
          <div class="row servicos">
            <div id="servicosToggle">
              Area para Eventos<label for="toggle-4">  + </label>
              <input type="checkbox" id="toggle-4">
                <div id="mostra">
                  <p>
                    Para profissionais autônomos, pequenas empresas e times enxutos, oferecemos posições de trabalho compartilhadas, que dão acesso ao ecossistema VOLT, contemplando serviços completos para seu dia a dia.
                  </p>
                  <p>
                    Aqui você pode optar por uma mesa só sua,
                    posições rotativas ou até o Work Day.
                  </p>
                  <p class="preco">R$0000,00</p>
                  <a href="javascript:void(0)" routerLinkActive='active'
                    routerLink='/nos' class="btn-volt mt-5">
                    Tenho interesse
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 bg-default order-first serv-img" style="background-image:
      url('./assets/backgrounds/bg-servicos.png');">
     <img class="mobile img-espaco" src="./assets/backgrounds/bg-servicos.png" alt="">
</div>
</div>
</div> -->


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 coworking-section bg-black">
            <div id="carousel-coworking" class="carousel slide" data-ride="carousel">
                <div class="row">
                    <div class="col-lg-4 col-md-12 text-coworking">
                        <h3 class="title desktop">
                            O Coworking
                        </h3>
                        <h3 class="title mobile">
                            Escritórios Concluídos
                        </h3>
                        <div class="setas desktop">
                            <a href="#carousel-coworking" data-slide="prev">
                                <img src="./assets/icons/arrow-coworking-left.svg" alt="">
                            </a>
                            <a href="#carousel-coworking" data-slide="next">
                                <img src="./assets/icons/arrow-coworking-right.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <!--<div class="carrossel">
            <img src="./assets/photos/coworking-album-volt.png" alt="">
            <p class="mt-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet nequ
            </p>
          </div>-->
                        <ol class="carousel-indicators indicadores mobile">
                            <li data-target="#carousel-coworking" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-coworking" data-slide-to="1"></li>
                            <li data-target="#carousel-coworking" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carrossel">
                                    <img src="./assets/photos/coworking-album-volt.png" alt="">
                                    <p class="mt-4">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet
                                        nequ
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carrossel">
                                    <img src="./assets/photos/coworking-album-volt.png" alt="">
                                    <p class="mt-4">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet
                                        nequ
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carrossel">
                                    <img src="./assets/photos/coworking-album-volt.png" alt="">
                                    <p class="mt-4">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet
                                        nequ
                                    </p>
                                </div>
                            </div>
                            <div class="mobile">
                                <a class=" carousel-control-prev carousel-slide " href="#carousel-coworking"
                                    role="button" data-slide="prev">
                                    <img src="../../../../assets/icons/arrow-left-white.png" alt="">
                                </a>
                                <a class=" carousel-control-next carousel-slide " href="#carousel-coworking"
                                    role="button" data-slide="next">
                                    <img src="../../../../assets/icons/arrow-right-white.png" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-lg-12">
        <app-banner></app-banner>

    </div>
</div>

<div class="container-fluid">
    <div class="col-lg-10 mx-auto text-center down bg-beje">
        <app-form></app-form>
    </div>
</div>