
<div class="container-fluid">
  <div class="row">
    <div class="col-12 bg-default cover-insights" style="background-image:
      url('./assets/backgrounds/bg-insights.png');">
      <div class="box-white">
        <h1 class="title">Insights</h1>
        <p>
          Acompanhe as principais notícias sobre
          empreendedorismo, tecnologia e novidades do Volt.
        </p>
        <div class="busca">
          <img class="icon-ajust" src="./assets/icons/lupa.png" alt="search">
          <input placeholder="Buscar" class="">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-12 cards-blog">
      <div class="row">
        <div class="col-lg-6 col-md-12 card-vertical mx-auto">
          <div class="cards" routerLinkActive='active' routerLink='/insights/post'>
            <div class="header-image"
              style="background-image:
              url('./assets/photos/post-vertical.png');">
            </div>
            <div class="card">
              <div class="row">
                <div class="col-6">
                  <span class="text-uppercase w-100">
                    <img class="w-25"
                      src="./assets/photos/autor.png"
                      alt="autor-volt">
                    <small class="ml-3">por:
                      Ana</small>
                  </span>
                </div>
                <div class="col-6 mt-1 text-center mx-auto">
                  <span class="category text-uppercase fsmaller
                    text-center">
                    Categoria
                  </span>
                </div>
              </div>
              <h4 class="mt-3">Título da Matéria</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi venenatis feugiat aliquam. Nullam in fringilla velit.
                Duis pellentesque nulla et porta accumsan. Ut finibus.</p>
            </div>

          </div>
        </div>
        <div class="col-lg-5 card-horizontal mx-auto">
          <div class="row">
            <div class="col-12 cards-h" routerLinkActive='active'
              routerLink='/insights/post'>
              <div class="row">
                <div class="col-5 header-image-h bg-default">
                  <img  class="img-card-horizontal" src="./assets/photos/post-horizontal-blog.png" alt="">
                </div>
                <div class="col-7">
                  <div class="card-h">
                    <div class="row">
                      <div class="col-6">
                        <span class="text-uppercase w-100">
                          <img class="w-50"
                          src="./assets/photos/autor.png"
                            alt="ana-mini">
                          <small class="ml-3">por:
                            Nadia</small>
                        </span>
                      </div>
                      <div class="col-6 mt-1">
                        <span class="category text-uppercase fsmaller
                          text-center">
                          Categoria
                        </span>
                      </div>
                    </div>
                    <h4>Título da Matéria</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Morbi venenatis feugiat aliquam. Nullam in fringilla
                      velit.
                      Duis pellentesque nulla et porta accumsan. Ut finibus.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 cards-h vo" routerLinkActive='active'
            routerLink='/insights/post'>
            <div class="row">
              <div class="col-5 header-image-h bg-default">
                <img  class="img-card-horizontal" src="./assets/photos/post-horizontal-blog.png" alt="">
              </div>
              <div class="col-7">
                <div class="card-h">
                  <div class="row">
                    <div class="col-6">
                      <span class="text-uppercase w-100">
                        <img class="w-50"
                        src="./assets/photos/autor.png"
                          alt="ana-mini">
                        <small class="ml-3">por:
                          Nadia</small>
                      </span>
                    </div>
                    <div class="col-6 mt-1">
                      <span class="category text-uppercase fsmaller
                        text-center">
                        Categoria
                      </span>
                    </div>
                  </div>
                  <h4>Título da Matéria</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi venenatis feugiat aliquam. Nullam in fringilla
                    velit.
                    Duis pellentesque nulla et porta accumsan. Ut finibus.</p>
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 posts-blog ">
      <div class="row">
        <div class="col-lg-4 cp">
          <div class="cards-post" routerLinkActive='active'
            routerLink='/insights/post'>
            <div class="header-image-post border-0"
              style="background-image:
              url('./assets/photos/post-item-blog.png');">
            </div>
            <div class="card-post">
              <div class="row">
                <div class="col-6">
                  <span class="text-uppercase w-100">
                    <img class="w-25"
                    src="./assets/photos/autor.png"
                      alt="ana-mini">
                    <small class="ml-3">por:
                      Ana</small>
                  </span>
                </div>
                <div class="col-6 mt-1 text-center mx-auto">
                  <span class="category text-uppercase fsmaller
                    text-center">
                    Categoria
                  </span>
                </div>
              </div>
              <h4 class="mt-3">Título da Matéria</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi venenatis feugiat aliquam.</p>
            </div>

          </div>

        </div>
        <div class="col-lg-4 cp">
          <div class="cards-post"routerLinkActive='active'
            routerLink='/insights/post'>
            <div class="header-image-post border-0"
              style="background-image:
              url('./assets/photos/post-item-blog.png');">
            </div>
            <div class="card-post">
              <div class="row">
                <div class="col-6">
                  <span class="text-uppercase w-100">
                    <img class="w-25"
                    src="./assets/photos/autor.png"
                      alt="ana-mini">
                    <small class="ml-3">por:
                      Ana</small>
                  </span>
                </div>
                <div class="col-6 mt-1 text-center mx-auto">
                  <span class="category text-uppercase fsmaller
                    text-center">
                    Categoria
                  </span>
                </div>
              </div>
              <h4 class="mt-3">Título da Matéria</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi venenatis feugiat aliquam.</p>
            </div>

          </div>

        </div>
        <div class="col-lg-4 cp">
          <div class="cards-post" routerLinkActive='active'
            routerLink='/insights/post'>
            <div class="header-image-post border-0 bg-default"
              style="background-image:
              url('./assets/photos/post-item-blog.png');">
            </div>
            <div class="card-post">
              <div class="row">
                <div class="col-6">
                  <span class="text-uppercase w-100">
                    <img class="w-25"
                    src="./assets/photos/autor.png"
                      alt="ana-mini">
                    <small class="ml-3">por:
                      Ana</small>
                  </span>
                </div>
                <div class="col-6 mt-1 text-center mx-auto">
                  <span class="category text-uppercase fsmaller
                    text-center">
                    Categoria
                  </span>
                </div>
              </div>
              <h4 class="mt-3">Título da Matéria</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi venenatis feugiat aliquam.</p>
            </div>

          </div>

        </div>

      </div>
    </div>
    <div class="col-12 posts-blog">
      <div class="row">
        <div class="col-lg-4 cp">
          <div class="cards-post" routerLinkActive='active'
            routerLink='/insights/post'>
            <div class="header-image-post border-0"
              style="background-image:
              url('./assets/photos/post-item-blog.png');">
            </div>
            <div class="card-post">
              <div class="row">
                <div class="col-6">
                  <span class="text-uppercase w-100">
                    <img class="w-25"
                    src="./assets/photos/autor.png"
                      alt="ana-mini">
                    <small class="ml-3">por:
                      Ana</small>
                  </span>
                </div>
                <div class="col-6 mt-1 text-center mx-auto">
                  <span class="category text-uppercase fsmaller
                    text-center">
                    Categoria
                  </span>
                </div>
              </div>
              <h4 class="mt-3">Título da Matéria</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi venenatis feugiat aliquam.</p>
            </div>

          </div>

        </div>
        <div class="col-lg-4 cp">
          <div class="cards-post" routerLinkActive='active'
            routerLink='/insights/post'>
            <div class="header-image-post border-0"
              style="background-image:
              url('./assets/photos/post-item-blog.png');">
            </div>
            <div class="card-post">
              <div class="row">
                <div class="col-6">
                  <span class="text-uppercase w-100">
                    <img class="w-25"
                    src="./assets/photos/autor.png"
                      alt="ana-mini">
                    <small class="ml-3">por:
                      Ana</small>
                  </span>
                </div>
                <div class="col-6 mt-1 text-center mx-auto">
                  <span class="category text-uppercase fsmaller
                    text-center">
                    Categoria
                  </span>
                </div>
              </div>
              <h4 class="mt-3">Título da Matéria</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi venenatis feugiat aliquam.</p>
            </div>

          </div>

        </div>
        <div class="col-lg-4 cp">
          <div class="cards-post" routerLinkActive='active'
            routerLink='/insights/post'>
            <div class="header-image-post border-0 bg-default"
              style="background-image:
              url('./assets/photos/post-item-blog.png');">
            </div>
            <div class="card-post">
              <div class="row">
                <div class="col-6">
                  <span class="text-uppercase w-100">
                    <img class="w-25"
                    src="./assets/photos/autor.png"
                      alt="ana-mini">
                    <small class="ml-3">por:
                      Ana</small>
                  </span>
                </div>
                <div class="col-6 mt-1 text-center mx-auto">
                  <span class="category text-uppercase fsmaller
                    text-center">
                    Categoria
                  </span>
                </div>
              </div>
              <h4 class="mt-3">Título da Matéria</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi venenatis feugiat aliquam.</p>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div>

</div>
