<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 px-0 video ">
      <video autoplay muted loop id="myVideo" class="bg-default desktop">
        <source src="./assets/video/stella.mp4" type="video/mp4">
      </video>
      <div class="mobile">
         <iframe  width="370" height="565" src="https://www.youtube.com/embed/onuklr_ek9I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11 col-md-12 mx-auto text-center">
      <div class="box-white" >
        <div class="row">
          <div class="col-lg-6 col-md-12 text-case">
            <div class="seta">
              <a href="javascript:history.go(-1)"><span><img
                    src="./assets/icons/arrow-black-case.svg" alt="">Voltar</span></a>
            </div>
            <h1 class="title desktop">Cases</h1>
            <h1 class="title mobile">Titulo do Case</h1>
          </div>
          <div class="col-lg-6 col-md-12 descricao-case">
            <div>
              <h3>
                Desafio
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse sit amet neque mi. Maecenas ut lorem cursus,
                tincidunt orci eget, iaculis augue. Quisque porttitor feugiat
                hendrerit. Fusce feugiat ornare tempor.
              </p>
            </div>
            <div>
              <h3>
                Solução
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse sit amet neque mi. Maecenas ut lorem cursus,
                tincidunt orci eget, iaculis augue. Quisque porttitor feugiat
                hendrerit. Fusce feugiat ornare tempor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center mx-auto tour">
      <h2 class="title">
        Tour Virtual
      </h2>
      <p class="mx-auto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet neque mi. Maecenas ut lorem cursus, tincidunt orci eget, iaculis
        augue. Quisque porttitor feugiat hendrerit. Fusce feugiat ornare tempor.
        Proin in sapien mi. Aenean nec dui pretium.
      </p>

      <div class="desktop">
        <img src="./assets/photos/tour.png" alt="">
      </div>
      <div class="mobile">
        <img class="mobile" src="./assets/photos/tour-mobile.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid up bg-beje">
  <div class="row space ">
    <div class="col-lg-6 col-md-12 text-center mx-auto ">
      <div class="photo">

        <div id="carousel-lazer" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carousel-lazer" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-lazer" data-slide-to="1"></li>
              <li data-target="#carousel-lazer" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/photos/photo-case.png" alt="">
              </div>
              <div class="carousel-item">
                <img src="./assets/photos/photo-case.png" alt="">
              </div>
              <div class="carousel-item">
                <img src="./assets/photos/photo-case.png" alt="">
              </div>
          </div>
          <a class="carousel-control-prev carousel-slide" href="#carousel-lazer" role="button" data-slide="prev">
            <img src="../../../../assets/icons/arrow-left-white.png" alt="">
          </a>
          <a class="carousel-control-next carousel-slide" href="#carousel-lazer" role="button" data-slide="next">
            <img src="../../../../assets/icons/arrow-right-white.png" alt="">
          </a>
      </div>

        <!--<img src="./assets/photos/photo-case.png" alt="">-->
      </div>
    </div>
    <div class="col-lg-6 col-md-12 text-center mx-auto">
      <div class="text-item text-left">
        <h2 class="title">
          Área de Lazer
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          sit amet neque mi. Maecenas ut lorem cursus, tincidunt orci eget,
          iaculis augue. Quisque porttitor feugiat.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 text-center mx-auto lazer ">
      <div class="text-item text-left">
        <h2 class="title">
          Espaço Criativo
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          sit amet neque mi. Maecenas ut lorem cursus, tincidunt orci eget,
          iaculis augue. Quisque porttitor feugiat.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 text-center mx-auto lazer ">
      <div class="photo">
        <div id="carousel-ecriativo" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carousel-ecriativo" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-ecriativo" data-slide-to="1"></li>
              <li data-target="#carousel-ecriativo" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/photos/photo-case.png" alt="">
              </div>
              <div class="carousel-item">
                <img src="./assets/photos/photo-case.png" alt="">
              </div>
              <div class="carousel-item">
                <img src="./assets/photos/photo-case.png" alt="">
              </div>
          </div>
          <a class="carousel-control-prev carousel-slide" href="#carousel-ecriativo" role="button" data-slide="prev">
            <img src="../../../../assets/icons/arrow-left-white.png" alt="">
          </a>
          <a class="carousel-control-next carousel-slide" href="#carousel-ecriativo" role="button" data-slide="next">
            <img src="../../../../assets/icons/arrow-right-white.png" alt="">
          </a>
      </div>
        <!--<img src="./assets/photos/photo-case.png" alt="">-->
      </div>

    </div>
    <div class="col-lg-6 col-md-12 text-center mx-auto ">
      <div class="photo">
        <div id="carousel-cozinha" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carousel-cozinha" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-cozinha" data-slide-to="1"></li>
              <li data-target="#carousel-cozinha" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/photos/photo-case.png" alt="">
              </div>
              <div class="carousel-item">
                <img src="./assets/photos/photo-case.png" alt="">
              </div>
              <div class="carousel-item">
                <img src="./assets/photos/photo-case.png" alt="">
              </div>
          </div>
          <a class="carousel-control-prev carousel-slide" href="#carousel-cozinha" role="button" data-slide="prev">
            <img src="../../../../assets/icons/arrow-left-white.png" alt="">
          </a>
          <a class="carousel-control-next carousel-slide" href="#carousel-cozinha" role="button" data-slide="next">
            <img src="../../../../assets/icons/arrow-right-white.png" alt="">
          </a>
      </div>
        <!--<img src="./assets/photos/photo-case.png" alt="">-->
      </div>
    </div>
    <div class="col-lg-6 col-md-12 text-center mx-auto  ">
      <div class="text-item text-left">
        <h2 class="title">
          Cozinha Integrada
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          sit amet neque mi. Maecenas ut lorem cursus, tincidunt orci eget,
          iaculis augue. Quisque porttitor feugiat.
        </p>
      </div>

    </div>
  </div>

  <div class="row desktop">
    <div class="col-lg-10 col-md-12 text-center shadow escritorios mx-auto ">
      <div class="row ">
        <div class="col-lg-6 col-md-12 text-left text-box ">
          <h2 class="title">
            Escritórios Personalizados
          </h2>
          <p>
            Encontramos o imóvel ideal, projetamos
            arquitetonicamente o escritório e executamos
            a obra necessária para adequação do espaço.
          </p>

          <a href="javascript:void(0)" routerLinkActive='active' routerLink='/escritorios-personalizados' class="btn-volt v1 text-uppercase">
            Conheça a Solução <img src="./assets/icons/arrow-button-blue.svg"
              alt="">
          </a>

        </div>
        <div class="col-lg-6 col-md-12 bg-default" style="background-image:
          url('./assets/backgrounds/bg-escritorios-personalizados-case.png');">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid " >
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto py-0 text-center down bg-beje">
      <app-form></app-form>
    </div>
  </div>
</div>






<!-- <div class="container-fluid">
  <div class="row mt-5 mb-5">
    <div class="col-12 mx-auto text-center">
      <img src="./assets/backgrounds/banner-simulador.png" alt="banner-volt">
    </div>
  </div>
</div> -->














<!--
<div class="content">
  <h1>Heading</h1>
  <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
  <button id="myBtn" onclick="myFunction()">Pause</button>
</div> -->
<!--
<script>
var video = document.getElementById("myVideo");
var btn = document.getElementById("myBtn");

function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}
</script> -->
