<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 text-center mx-auto bg-default cover-coworking"
      style="background-image:
      url('./assets/backgrounds/bg-escritorios-personalizados.png');">
      <div class="infos text-center">
        <h1 class="title v5">Escritórios
          Personalizados</h1>
        <p>
          Cuidamos da implantação completa do seu espaço. Nossos ambientes são
          desenvolvidos sob medida de acordo com a sua necessidade. Contamos com
          uma equipe especializada para atender desde a busca pelo imóvel ideal
          até a gestão de serviços para o seu escritório.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto text-center planos">
      <div class="row tipo-planos">
        <div class="col-lg-4 col-md-4 desktop">
          <h3>
            Funcional
          </h3>
        </div>
        <div class="col-lg-4 col-md-2">
          <h3>
            Potencial
          </h3>
        </div>
        <div class="col-lg-4 col-md-2 ">
          <h3>
            Premium
          </h3>
        </div>
      </div>
      <div class="scroll">
        <div class="row">
          <div class="col-lg-4 col-md-4 mx-auto text-center area-planos">
            <h5>
              <img src="./assets/icons/star-blue.png" alt=""> Infraestrutura
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/ar.png" alt="">
            <p class="titulo">
              Climatização
              (Ar Condicionado)
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/ar.png" alt="">
            <p class="titulo">
              Climatização
              (Ar Condicionado)
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/ar.png" alt="">
            <p class="titulo">
              Climatização
              (Ar Condicionado)
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/ambientacao-cinza.png" alt="">
            <p class="titulo">
              Ambientação Olfativa
              Personalizada
            </p>
            <p class="descricao">
              Não Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/ambientacao.png" alt="">
            <p class="titulo">
              Ambientação Olfativa
              Personalizada
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/ambientacao.png" alt="">
            <p class="titulo">
              Ambientação Olfativa
              Personalizada
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/key-cinza.png" alt="">
            <p class="titulo">
              Key Account
            </p>
            <p class="descricao">
              Não Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/key.png" alt="">
            <p class="titulo">
              Key Account
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/key.png" alt="">
            <p class="titulo">
              Key Account
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/paisagismo.png" alt="">
            <p class="titulo">
              Paisagismo
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/paisagismo.png" alt="">
            <p class="titulo">
              Paisagismo
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/paisagismo.png" alt="">
            <p class="titulo">
              Paisagismo
            </p>
            <p class="descricao">
              Biofilia (elementos em
              madeira e vegetação - plantas)
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/copa.png" alt="">
            <p class="titulo">
              Copa e Refeitório
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/copa.png" alt="">
            <p class="titulo">
              Copa e Refeitório
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/copa.png" alt="">
            <p class="titulo">
              Copa e Refeitório
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/sala.png" alt="">
            <p class="titulo">
              Salas de Reunião
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/sala.png" alt="">
            <p class="titulo">
              Salas de Reunião
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/sala.png" alt="">
            <p class="titulo">
              Salas de Reunião
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/identidade.png" alt="">
            <p class="titulo">
              Identidade Visual
            </p>
            <p class="descricao">
              Adesivagem com Identidade Visual
              da marca na área de Recepção
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/identidade.png" alt="">
            <p class="titulo">
              Identidade Visual
            </p>
            <p class="descricao">
              Adesivagem com Identidade Visual
              da marca na área de Recepção
              e áreas comuns
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/identidade.png" alt="">
            <p class="titulo">
              Identidade Visual
            </p>
            <p class="descricao">
              Identidade Visual Completa
              do escritório com a sua marca
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Manutenção
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Manutenção
            </p>
            <p class="descricao">
              Preventiva
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Manutenção
            </p>
            <p class="descricao">
              Preventiva e Corretiva (PMOC)
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Equipe de Facilities
            </p>
            <p class="descricao">
              Limpeza
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Equipe de Facilities
            </p>
            <p class="descricao">
              Limpeza e Recepção
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Equipe de Facilities
            </p>
            <p class="descricao">
              Limpeza e Recepção
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Lockers
            </p>
            <p class="descricao">
              Não Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Lockers
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Lockers
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Mobiliário
            </p>
            <p class="descricao">
              Mobiliário Corporativo
              Convencional
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Mobiliário
            </p>
            <p class="descricao">
              Mobiliário Corporativo
              Multifuncional
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Mobiliário
            </p>
            <p class="descricao">
              Mobiliário Corporativo
              Multifuncional Exclusivos
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Decoração
            </p>
            <p class="descricao">
              Corporativo Convencional
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Decoração
            </p>
            <p class="descricao">
              Conceitual Moderno
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Decoração
            </p>
            <p class="descricao">
              Conceitual Artística
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Audiovisual
            </p>
            <p class="descricao">
              TV
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Audiovisual
            </p>
            <p class="descricao">
              Projetor + Sistema de Som
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Audiovisual
            </p>
            <p class="descricao">
              Projetor + Sistema de Som
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              TV a Cabo
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              TV a Cabo
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              TV a Cabo
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 mx-auto text-center area-planos">
            <h5>
              <img src="./assets/icons/star-blue.png" alt=""> t.i.
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/controle.png" alt="">
            <p class="titulo">
              Controle de acesso
            </p>
            <p class="descricao">
              Proximidade
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/controle.png" alt="">
            <p class="titulo">
              Controle de acesso
            </p>
            <p class="descricao">
              Proximidade e Biometria
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/controle.png" alt="">
            <p class="titulo">
              Controle de acesso
            </p>
            <p class="descricao">
              Reconhecimento Facial
              (Proximidade + Biometria)
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/equipamentos.png" alt="">
            <p class="titulo">
              Equipamentos
              (Switch e Roteadores)
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/equipamentos.png" alt="">
            <p class="titulo">
              Equipamentos
              (Switch e Roteadores)
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/equipamentos.png" alt="">
            <p class="titulo">
              Equipamentos
              (Switch e Roteadores)
            </p>
            <p class="descricao">
              Incluso
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Internet
            </p>
            <p class="descricao">
              Link Fibra Ótica 300mbps
              com redundância  VIVO/TIM
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Internet
            </p>
            <p class="descricao">
              Link Dedicado 100mbps com
              redundância de 300mbps de fibra ótica
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Internet
            </p>
            <p class="descricao">
              2 Links Dedicados
              200mbps simulâneos
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Cabeamento
            </p>
            <p class="descricao">
              Sem Cabeamento
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Cabeamento
            </p>
            <p class="descricao">
              Cabeamento Cat5e
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Cabeamento
            </p>
            <p class="descricao">
              Cabeamaento Cat6
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              HelpDesk
            </p>
            <p class="descricao">
              Sem
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              HelpDesk
            </p>
            <p class="descricao">
              Remoto
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              HelpDesk
            </p>
            <p class="descricao">
              Presencial
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Impressora
            </p>
            <p class="descricao">
              P&B com franquia de
              2.000 impressões
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Impressora
            </p>
            <p class="descricao">
              Multifuncional P&B e Color A4
              com franquia de 2.000 impressões
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Impressora
            </p>
            <p class="descricao">
              Multifuncional P&B e Color A4 e A3
              com franquia de 2.000 impressões
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Monitoramento CFTV
            </p>
            <p class="descricao">
              Monitoramento de entrada e saída
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Monitoramento CFTV
            </p>
            <p class="descricao">
              Monitoramento de entrada e saída
              e áreas comuns
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Monitoramento CFTV
            </p>
            <p class="descricao">
              Monitoramento de entrada e saída,
              áreas comuns e áreas privativas
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Telefonia
            </p>
            <p class="descricao">
              15% das posições cabeadas
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Telefonia
            </p>
            <p class="descricao">
              50% das posições cabeadas
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Telefonia
            </p>
            <p class="descricao">
              95% das posições cabeadas
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 mx-auto text-center area-planos">
            <h5>
              <img src="./assets/icons/star-blue.png" alt=""> Conceitual
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/food-cinza.png" alt="">
            <p class="titulo">
              Honesty Food
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/food-cinza.png" alt="">
            <p class="titulo">
              Honesty Food
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/food.png" alt="">
            <p class="titulo">
              Honesty Food
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/massoterapeuta-cinza.png" alt="">
            <p class="titulo">
              Massoterapeuta
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/massoterapeuta-cinza.png" alt="">
            <p class="titulo">
              Massoterapeuta
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/massoterapeuta.png" alt="">
            <p class="titulo">
              Massoterapeuta
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/choppeira-cinza.png" alt="">
            <p class="titulo">
              Choppeira Brahma
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/choppeira.png" alt="">
            <p class="titulo">
              Choppeira Brahma
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/choppeira.png" alt="">
            <p class="titulo">
              Choppeira Brahma
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <img src="./assets/icons/choppeira-cinza.png" alt="">
            <p class="titulo">
              Choppeira Colorado
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/choppeira-cinza.png" alt="">
            <p class="titulo">
              Choppeira Colorado
            </p>
            <p class="descricao">
              Não Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="./assets/icons/choppeira.png" alt="">
            <p class="titulo">
              Choppeira Colorado
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Videogames
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Videogames
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Videogames
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Biblioteca Corporativa
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Biblioteca Corporativa
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Biblioteca Corporativa
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Petfriendly
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Petfriendly
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Petfriendly
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Vending Machine
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Vending Machine
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Vending Machine
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Coffee
            </p>
            <p class="descricao">
              Café Coado e Chá
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Coffee
            </p>
            <p class="descricao">
              Máquina de Café Expresso e Chá
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Coffee
            </p>
            <p class="descricao">
              Máquina de Café Expresso e
              Chá + NESPRESSO
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Água Aromatizada
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Água Aromatizada
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Água Aromatizada
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Cabeleireiro in Company
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Cabeleireiro in Company
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Cabeleireiro in Company
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Coaching de Carreira
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Coaching de Carreira
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Coaching de Carreira
            </p>
            <p class="descricao">
              Inclusa
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="titulo">
              Aulas de Idiomas
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Aulas de Idiomas
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="titulo">
              Aulas de Idiomas
            </p>
            <p class="descricao">
              Não inclusa
            </p>
          </div>
        </div>
        <div class="row valores-planos">
          <div class="col-lg-4 col-md-4 desktop">
            <p class="valor-plano">
              A Partir de
              R$ XXXXXXX
            </p>
            <button class="btn btn-volt">Tenho Interesse</button>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="valor-plano">
              A Partir de
              R$ XXXXXXX
            </p>
            <button class="btn btn-volt">Tenho Interesse</button>
          </div>
          <div class="col-lg-4 col-md-4">
            <p class="valor-plano">
              A Partir de
              R$ XXXXXXX
            </p>
            <button class="btn btn-volt">Tenho Interesse</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 coworking-section bg-black">
      <div id="carousel-coworking" class="carousel slide" data-ride="carousel">
      <div class="row">
        <div class="col-lg-4 col-md-12 text-coworking">
          <h3 class="title ">
            Escritórios Concluídos
          </h3>
          <div class="setas desktop">
            <a href="#carousel-coworking"data-slide="prev">
              <img src="./assets/icons/arrow-coworking-left.svg" alt="">
            </a>
            <a href="#carousel-coworking" data-slide="next">
              <img src="./assets/icons/arrow-coworking-right.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <ol class="carousel-indicators mobile">
            <li data-target="#carousel-coworking" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-coworking" data-slide-to="1"></li>
            <li data-target="#carousel-coworking" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carrossel">
                <img src="./assets/photos/coworking-album-volt.png" alt="">
                <p class="mt-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet nequ
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carrossel">
                <img src="./assets/photos/coworking-album-volt.png" alt="">
                <p class="mt-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet nequ
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carrossel">
                <img src="./assets/photos/coworking-album-volt.png" alt="">
                <p class="mt-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet nequ
                </p>
              </div>
            </div>
            <div class="mobile">
              <a class=" carousel-control-prev carousel-slide " href="#carousel-coworking" role="button" data-slide="prev">
              <img src="./assets/icons/arrow-left-white.png" alt="">
            </a>
            <a class=" carousel-control-next carousel-slide " href="#carousel-coworking" role="button" data-slide="next">
              <img src="./assets/icons/arrow-right-white.png" alt="">
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="container-fluid">
  <app-banner></app-banner>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto text-center">
      <app-form></app-form>
    </div>
  </div>
 </div>
