
 $theme-color-1:#354E8F;
 $theme-color-2: #3B59A3;
 $theme-color-3: #1A1A1A;
 $theme-color-4: #B097C4;
 $theme-color-5:#F9C75C;
 $theme-color-6: #767676;
 $theme-color-7:#C8AAA9;
 $theme-color-8:#FFC742;
 $theme-color-9:#EDE9E7;
 $theme-color-10:#D2E6DB;
 $theme-color-11:#4AA9B1;
 



