<div class="container-fluid" >
  <div class="row">
      <div class="col-lg-12 col-md-12 bg-default cover"
          style="background-image:
          url(./assets/backgrounds/bg-post.png)">

      </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <div class="col-lg-8 col-md-12 card sobre-text bg mx-auto
              text-left">
              <a routerLink="/insights">
                  <span>
                      <img class="mr-2" src="./assets/icons/arrow-black-case.svg"
                          alt="seta">
                      Voltar para os Insights
                  </span>
              </a>
              <p class="mt-4">
                  <span class="date">
                      05 de Outubro - 2019
                  </span>
                  <span class="category text-uppercase fsmaller
                      text-center">
                      Categoria
                  </span>
                  <span class="gender text-uppercase fsmaller ml-2
                      text-center">
                      Gênero
                  </span>
              </p>
              <h1 class="mt-3">Título</h1>
              <br>
              <div class="post-description" #postDescription >
                      (Texto apresentando brevemente o livro que
                      foi usado para essa resenha e indicando a
                      compra na Amazon.)
              </div>

              <div class="row">
                  <div class="col-lg-4 col-md-12 mt-5">
                      <span class="text-uppercase w-100 ana">
                          <img class="w-50" src="./assets/photos/autor.png"
                              alt="ana-mini">
                          <small class="text-lowercase ml-3">por</small>
                          Ana
                      </span>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-7 col-md-12 mx-auto text-center">
                      <div class="row">
                          <div class="col-lg-4 col-md-6 social">
                              <p>
                                  <img src="./assets/icons/facebook-post.png"
                                      alt="facebook">
                              </p>
                              Compartilhar
                          </div>
                          <div class="col-lg-4 col-md-6 social">
                              <p>
                                  <img src="./assets/icons/favorito-post.png"
                                      alt="favorito">
                              </p>
                              Favoritar
                          </div>
                          <div class="col-lg-4 col-md-6 social">
                              <p>
                                  <img src="./assets/icons/download-post.png"
                                      alt="download">
                              </p>
                              Download
                          </div>

                      </div>
                  </div>
              </div>

          </div>
      </div>

  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
      <div class="col-lg-12 mx-auto">
          <div class="text-center comentarios">
              <h1>
                  Comentários
              </h1>
          </div>

      </div>
  </div>

</div> -->

<!-- <div class="container-fluid">
  <div class="row">
      <div class="col-lg-10 mx-auto mt-5">
          <div class="posts-relacionados">
              <h2 class="text-left">
                  Outros artigos relacionados
              </h2>
          </div>
          <div class="row">
              <div class="col-lg-4 mt-5 mb-5" >
                  <div >
                      <img
                          alt="post-3">
                      <span class="mt-5 text-center">
                          </span>
                      <h3 class="mt-4"> </h3>
                      <p>  </p>
                      <small>  </small>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
