<div class="container-fluid" *ngIf="helperService.hasFooter == true">
  <div class="row">
    <div class="col-lg-10 mx-auto text-center footer">
      <div class="row">
        <div class="col-lg-3 col-md-10">
          <div class="logo">
            <img src="./assets/logos/volt-logo-white.png" alt="volt-logo">
          </div>
        </div>
        <div class="col-lg-3 col-md-10">
          <div class="aba-solucoes">
            <h4>Soluções</h4>
            <ul class="px-0">
              <a href="javascript:void(0)" routerLinkActive='active'
              routerLink='/escritorios-personalizados'>
                <li>
                  Escritórios Personalizados
                </li>
              </a>
              <a href="javascript:void(0)" routerLinkActive='active'
              routerLink='/coworking'>
                <li>
                  Coworking
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-10 ">
          <div class="aba-empresa">
            <h4>Empresa</h4>
            <ul class="px-0">
              <a href="javascript:void(0)" routerLinkActive='active'
              routerLink='/nos'>
                <li >
                  Nós
                </li>
              </a>
              <a href="javascript:void(0)" routerLinkActive='active'
              routerLink='/cases'>
                <li>
                  Cases
                </li>
              </a>
              <a href="javascript:void(0)" routerLinkActive='active'
              routerLink='/insights'>
                <li>
                  Insights
                </li>
              </a>
              <a href="javascript:void(0)" routerLinkActive='active'
              routerLink='/contato'>
                <li>
                  Contato
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-10">
          <div class="aba-contato">
            <h4>Contato</h4>
            <p>contato@voltcoworking.com.br</p>
            <p>(11) 2348-5700</p>
            <p>Av. Bernardino de Campos, 185
              Paraíso - São Paulo</p>
            <a href="javascript:void(0)" routerLinkActive='active'
              routerLink='/simulacao'class="btn-volt v2 w-100 mt-5">
              Faça uma simulação
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

