<div class="row " [ngClass]="classes">
  <div class="col-lg-11 mx-auto text-center bg-default banner" style="background-image: url('./assets/backgrounds/banner-simulador.png');">
    <img class="sinais v2" src="./assets/icons/soma.png" alt="">
    <img class="sinais v3" src="./assets/icons/multiplicacao.png" alt="">
    <div class="circulo"></div>
    <h6>
      Simulação
    </h6>
    <h3>
      Conta para a gente o que você busca
      que te apresentamos a melhor solução
    </h3>
    <div class="equal">
      <img src="./assets/icons/equal.png" alt="">
    </div>
    <a href="javascript:void(0)" routerLinkActive='active' routerLink='/simulacao' class="btn-volt v3 w-100 text-uppercase">
      Faça um Simulação
    </a>
      <img class="sinais v1" src="./assets/icons/subtracao.png" alt="">
      <img class="sinais v4" src="./assets/icons/divisao.png" alt="">
   
    <div class="circulo vv"></div>
  </div>
</div>
